---
- name: Obtener token JWT de Portainer
  uri:
    url: "{{ portainer_url }}/api/auth"
    method: POST
    body_format: json
    body:
      username: "{{ portainer_username }}"
      password: "{{ portainer_password }}"
    validate_certs: no
  register: portainer_auth


- name: Guardar token
  set_fact:
    portainer_token: "{{ portainer_auth.json.jwt }}"


- name: Crear credencial Git en Portainer (HTTPS vacío - público)
  uri:
    url: "{{ portainer_url }}/api/gitcredentials"
    method: POST
    headers:
      Authorization: "Bearer {{ portainer_token }}"
    body_format: json
    body:
      name: "Git-Credentials-AWX"
      username: ""
      password: ""
    validate_certs: no
  register: git_cred


- name: Crear Stack en Portainer desde Git (auto-deploy)
  uri:
    url: "{{ portainer_url }}/api/stacks"
    method: POST
    headers:
      Authorization: "Bearer {{ portainer_token }}"
    body_format: json
    body:
      name: "Portainer-Git-Stack"
      type: 1
      endpointId: "{{ portainer_endpoint_id }}"
      repositoryURL: "{{ git_repo_url }}"
      repositoryReferenceName: "{{ git_branch }}"
      repositoryCredentialId: "{{ git_cred.json.id }}"
      composeFilePathInRepository: "{{ git_compose_path }}"
      gitConfig:
        autoUpdate:
        interval: "5m"
    validate_certs: no
  register: portainer_stack