---
- name: Permitir SSH
  ufw:
    rule: allow
    port: 22

- name: Permitir HTTP
  ufw:
    rule: allow
    port: 80

- name: Permitir HTTPS
  ufw:
    rule: allow
    port: 443

- name: Activar Firewall
  ufw:
    state: enabled
    policy: deny
