name: Script Deploy Container
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Crear carpeta remota del proyecto si no existe
        run: |
          ssh -o StrictHostKeyChecking=no -p 22 deploy@${{ vars.DOKETER_HOST }} "mkdir -p ${{ vars.DATA_PATH }}"

      - name: Copiar docker-compose.yml al servidor
        run: |
          scp -P 22 -o StrictHostKeyChecking=no ./docker/docker-compose.yml deploy@${{ vars.DOKETER_HOST }}:${{ vars.DATA_PATH }}

      - name: Generar archivo .env directamente en el servidor
        run: |
          ssh -p 22 deploy@${{ vars.DOKETER_HOST }} "cat > ${{ vars.DATA_PATH }}.env" << 'EOF'
          DATA_PATH=${{ vars.DATA_PATH }}
          NETWORK_NAME=${{ vars.NETWORK_NAME }}
          MYSQL_DATABASE=${{ vars.MYSQL_DATABASE }}
          MYSQL_USER=${{ vars.MYSQL_USER }}
          MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
          MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
          PUID=${{ vars.PUID }}
          PGID=${{ vars.PGID }}
          TZ=${{ vars.TZ }}
          EOF
          ssh -p 22 deploy@${{ vars.DOKETER_HOST }} "chmod 600 ${{ vars.DATA_PATH }}.env"

      - name: Desplegar contenedores en remoto
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ vars.DOKETER_HOST }}
          username: deploy
          port: 22
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ vars.DATA_PATH }}
            docker compose --env-file .env -f docker-compose.yml up -d --build
